@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EASTARJET-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/EASTARJET-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family:'DNFBitBitv2';
    font-style:normal;font-weight:400;src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')}
*{
    margin: 0 auto;
    text-align: center;
}

.signtitle{
    font-family: 'EASTARJET-Medium';
    margin-top: 5vh;
    font-size: 30px;
}


.logoimg{ 
    margin-top: 2vh;
    width: 15vw;

}

/*progressbar*/
.backbar {
    background-color: rgb(221, 235, 255);
    width: 50vw;
    border-radius: 30px;
    margin-top: 5vh;
    height: 1vh;
}

.frontbar {
    background-color: rgb(143, 188, 251);
    height: 1vh;
    border-radius: 30px;
    margin-top: 5vh;
    margin-left: 0vh;
}

.progresstxt{
    color: rgb(107, 107, 107);
    font-size: 13px;
    font-family: 'EASTARJET-Medium';
    margin-top: 0.5vh;
}


/*signbox - 회원가입 1페이지*/
.signbox{
    background-color: rgb(227, 238, 255);
    border-radius: 20px;
    padding: 20px;
    margin-top: 5vh;
    width: 35vw;
    margin-bottom: 5vh;
}

.titlewrap{
    color: rgb(110, 160, 231);
    margin-top: 1.5vh;
    font-size: 17px;
    font-family: 'EASTARJET-Medium';
}

.inputbox{
    font-family: 'HakgyoansimWoojuR';
    width: 20vw;
    height: 3.8vh;
    margin-top: 1vh;
    border-radius: 10px;
    font-size: 15px;
}
.errordiv{
    margin-top: 0.5vh;
}
.errortext{
    font-size: 12px;
    color: red;
    font-weight: 900;
}

.submitbtn{
    color: rgb(56, 56, 56);
    border-color: rgb(205, 220, 233);
    background-color: rgb(177, 207, 249);
    font-family:'DNFBitBitv2';
    margin-top: 5vh;
    width: 10vw;
    height: 5vh;
    border-radius: 30px;
}



/*Mybody - 회원가입 2페이지 */
.mybodybox{
    font-family: 'HakgyoansimWoojuR';
    width: 12.9vw;
    height: 3.8vh;
    margin-top: 2vh;
    border-radius: 10px;
    font-size: 15px;
}

/*mybody 페이지 인풋박스 */

.birthinput{
    font-family: 'HakgyoansimWoojuR';
    width: 12.9vw;
    height: 3.8vh;
    margin-top: 2vh;
    border-radius: 10px;
    font-size: 15px;
}

/*span 네임태그*/

.checktext{
    font-family: 'EASTARJET-Medium';
    margin-right: 1vw;
    margin-left: 1vw;
}
.sextxt{
    font-family: 'EASTARJET-Medium';
    margin-right: 5vw;
    margin-left: -2vw;
}
.weighttxt {
    font-family: 'EASTARJET-Medium';
    margin-right: 3vw;
}

.heighttxt{
    font-family: 'EASTARJET-Medium';
    margin-left: 1.5vw;
    margin-right: 3.5vw;
}
.birthtxt{
    font-family: 'EASTARJET-Medium';
    margin-left: -1.5vw;
    margin-right: 3vw;
}



/*Myworry - 회원가입 3페이지 */

.worrybox{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.worrytap{
    font-family: 'EASTARJET-Medium';
    width: 20vw;
    height: 3vh;
    border-radius: 20px;
    margin-top: 2vh;
    padding: 15px;
    border: solid 3px rgb(92, 92, 92);
    cursor: pointer;
}


.worrynotice{
    font-family: 'EASTARJET-Medium';
    background-color: white;
    color: rgb(111, 111, 111);
    font-size: 17px;
}
.worrynotice span{
    color: rgb(40, 115, 222);
    text-decoration: underline;
}
.prev-nextbtn{
    display: flex;
    flex-direction: row;
    padding: 3px;
    width: 30vw;
}